<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quas repellendus atque reiciendis architecto deserunt dignissimos, nemo optio dolores voluptatum ea odit minima blanditiis ipsum. Commodi animi mollitia labore porro, laborum nesciunt.</p>
     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum atque a officiis, dolorem, debitis quos nihil tempora cupiditate hic voluptatum deleniti quia velit ducimus maxime quas. Sapiente tenetur corrupti facere impedit inventore!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam iste ad, sit quasi similique odio eveniet harum molestias at voluptatibus qui sed a illo praesentium? Voluptas neque maiores eum provident temporibus modi!</p>

   <div class="follow text-center">
    <h4>Follo Us</h4>
    <a href="#">Facebook</a>
    <a href="#">Instagram</a>
    <a href="#">Telegram</a>
    <a href="#">Youtube</a>
   </div>
    </section>